tests/test.yml
site
.vagrant
*.retry
*.log
inventories
.cache
roles/bertvv.samba
roles/geerlingguy.docker
roles/geerlingguy.nfs
roles/gantsign.oh-my-zsh
# Vim
[._]sw[a-p]

# Session
Session.vim

# IntelliJ
/.idea/
